<nav id="velvackNavBar" class="navbar navbar-expand-lg mb-5">
  <div class="container col-md-9">
    <a class="navbar-brand" href="/"><img src="/assets/images/velvack-panacea-logo.png" alt="Velvack Panacea logo" height="60px" /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Pacientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/devices">Dispositivos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Citas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/report">Reportes</a>
        </li>
      </ul>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Usuario </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="user-profile">Perfil</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
